/*
file:///E:/%E5%85%B6%E4%BB%96/Area/P-A/library/index.html
file:///E:/%E5%85%B6%E4%BB%96/Area/P-A/library/contents/pinyin.html
*/
/* Style */
/* library styles */
:root{
	--bookcard-bgcolor:#CEF;
	--bookcard-color:#000;
	--bookcard-author-color:#555;
	--booksize-more-color:#00F;}
.darkmode{
	--bookcard-bgcolor:#004;
	--bookcard-color:#C4C8F2;
	--bookcard-author-color:#AEFD;
	--booksize-more-color:#0D0;}
/*article*/
article{font-family: miui,"Microsoft YaHei", "WenQuanYi Micro Hei", system-ui,-apple-system,"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", BlinkMacSystemFont,Segoe UI,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol, "MiSans";}
article h1{
	border-top: 1px solid #A0F;
	border-bottom: 1px solid #A0F;
	clear: both;}
article h2,article h3,article h4{
	border-top: 1px solid #3264FF;
	border-bottom: 1px solid #3264FF;
	clear: both;
	text-align: center;}
article h3{color: #3264FF;}
article h3 a{color: #3264FF;}
.content-box{
	clear: both;
}
/*content in book*/
.content1{
	font-family: "MiSans";
	font-weight: 900;
	margin-left: 6%;}
.content1-{
	font-family: "MiSans";
	font-weight: 900;
	margin-left: 6%;
	color: #AAA;}
.content1-:hover{
	font-family: "MiSans";
	font-weight: 900;
	margin-left: 6%;
	color: #AAA;}
.content2{
	font-family: "MiSans";
	font-weight: 700;
	margin-left: 8%;}
.content2-{
	font-family: "MiSans";
	font-weight: 700;
	margin-left: 6%;
	color: #AAA;}
.content2-:hover{
	font-family: "MiSans";
	font-weight: 700;
	margin-left: 6%;
	color: #AAA;}
.content3{
	font-family: "MiSans";
	font-weight: 500;
	margin-left: 10%;}
.content3-{
	font-family: "MiSans";
	font-weight: 500;
	margin-left: 6%;
	color: #AAA;}
.content3-:hover{
	font-family: "MiSans";
	font-weight: 500;
	margin-left: 6%;
	color: #AAA;}
/*picture*/
.title-pic{
	width: 100%;}
.book-pic{
	width: auto;
	max-width: 100%;
	max-height: calc(100vh - 100px);
	clear: left;
	box-shadow: 3px 3px 3px #c7c7c7;}
/*others*/
#nav-box{
	width: 33%;
	right: calc(10px - 33%);
	overflow-y: auto;}
.bookcard,#section2{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;}
/* article parts */
/*bookinfo*/
.bookinfo{
	display: flex;flex-wrap: nowrap;
}
.bookinfo-box{
	padding: 0 3%;
}
.cover{
	margin: 0 5%;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-radius: 0.5em;
	border: 1px solid #146eb4;
	box-shadow: 5px 5px 5px #c7c7c7;}
@media (orientation: portrait){
	.bookinfo{flex-direction: row;}
	.cover{max-width: 50%;height: fit-content;max-height: 50vh;}
}
@media (orientation: landscape){
	.bookinfo{flex-direction: row;}
	.cover{max-width: 23%;height: fit-content;}
}
/* Tools小部件 */
/* book card */
.bookcard-chb-lable::before{content: "\F00B";font-family: "Font Awesome 6 Free";font-weight: 900;}
#bookcard-chb:checked ~ .bookcard-chb-lable::before{content: "\F009";}

.bookcard-box{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;}
.bookcard{
	color: var(--bookcard-color);
	background-color: var(--bookcard-bgcolor);
	height: 200px;
	box-shadow: 5px 5px 5px #CCC;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	font-family: "MiSans";
	font-weight: 500;
	transition: 1s all;}
.bookcard:focus-visible{outline: none;}
.bookcard-cover{
	width: 100px;
	margin: 10px;
	height: fit-content;
	display: block;}
.bookcard-informationbox{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;width: calc(100% - 120px);}
.bookcard-infobox{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	width: 100%;}
.bookcard-rightmask{
	width: 0;
	box-shadow: var(--bookcard-bgcolor) -1px 0px 10px 10px, var(--bookcard-bgcolor) -1px 0px 30px 20px, var(--bookcard-bgcolor) -1px 0px 40px 20px;}
.bookcard-info{
	width: max-content;
	max-width: 100%;
	display: flex;
	flex-direction: column;}
.bookcard-title{
	margin: 5px 0;
	font-size: 16pt;
	font-weight: 900;
	max-height: 42pt;
	white-space: nowrap;
	overflow: hidden;}
.bookcard-author{
	margin: 0;
	color: var(--bookcard-author-color);
	font-size:12pt;
	white-space: nowrap;
	overflow: hidden;}
.bookcard-introductionbox{
	width: 100%;
	height: calc(100% - 66px);
	display: flex;
	flex-direction: column;
	overflow: hidden;}
.bookcard-introduction{
	width: 100%;height: 100%;
	overflow: hidden;
	margin: 0;
	font-size: 9pt;}
.bookcard-intromask{
	width: 100%;
	height: 0;
	box-shadow: var(--bookcard-bgcolor) -1px 0px 15px 10px, var(--bookcard-bgcolor) -1px 0px 30px 20px;}
.bookcard-info2box{
	width: calc(100% - 10px);
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 10pt;
	border-radius: 5px 0 0 0;}
.bookcard-info2{
	margin: 0;
	width: inherit;max-width: fit-content;
	/*background-color: #00F5;*/
	border-radius: 3px;}
.bookcard-info2:nth-child(2),.bookcard-info2:nth-child(3){
	white-space: nowrap;
	text-align: center;}
.booksize-more{color: var(--booksize-more-color);}
@media (orientation: portrait){
	.bookcard{
		margin: 25px 15px;
		width: 300px;
		border-radius: 15px;
		border: 1px solid #A0F;
	}
}
@media (orientation: landscape){
	.bookcard{
		margin: 0;
		margin-top: -2px;
		width: 90%;
		border-radius: 0;
		border: 2px solid #A0F;
	}
	.bookcard-box>:nth-child(1){
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
	.bookcard-box>:nth-last-child(1){
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
}
.bookcard-gridmode .bookcard{
		margin: 25px 15px;
		width: 300px;
		border-radius: 15px;
		border: 1px solid #A0F;
	}
.bookcard-listmode .bookcard{
		margin: 0;
		margin-top: -2px;
		width: 90%;
		border-radius: 0;
		border: 2px solid #A0F;
	}
.bookcard-listmode .bookcard-box>:nth-child(1){
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
	}
.bookcard-listmode .bookcard-box>:nth-last-child(1){
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
/*info box : note*/
.book-note{
	text-decoration: none;
	background: linear-gradient(90deg, #ff3c41, #fc0, #0ebeff);
	background-repeat: no-repeat;
	background-position: 0 100%;
	background-size: 100% 3px;
}
@media (orientation: landscape){
	.book-note-box{
		width: 50%;
		float: right;
		margin: 0px 0px 0px 3%;}
}
/*HTML代码
				<div class="ib ib-green book-note-box"><div class="ib-fi ib-green-h"><i class="fas fa-info-circle"></i></div><div class="ib-la"><big><b>注释: 原文</b></big><br>内容。<br>（作者/云野 注）</div></div>

<span class="book-note">原文</span>
*/